a{width: 150px;}

.icons{float: right;}

h1{text-align: center;}

.image{margin: 50px;
}

.comments{width: 100%;
height: 100px;
text-align: start;}

button{margin-top: 30px;}

.closed{background-color: black;
    color: white;
    }
    
.work{color: blue;}